[Desktop Entry]
Encoding=UTF-8
Name=Link to download
Type=Link
URL=https://tinypng.com/web/output/ed1wpf3zegjww8j84kukmtkxbzn2d4f3/mountain.jpg
Icon=image-jpeg
